body{
    margin: 1px;
    padding: 0;
    text-align: justify;
    background-color: #222E38;
    font-size: 14px;
}

.page {
    direction: rtl;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    width: 974px;
    border: 2px solid #000101;
    background-color: #FFFFFF;
}

.pageContent {
    width: 972px;
}

.banner {
    height: 315px;
    width: auto;
    border: 1px solid #AABBDD;
    border-radius: 10px;
    overflow: hidden;
    position: relative;    
    z-index: 500;
}

.slideBanner {
    height: 100%;
    overflow: hidden;
    width: 971px;
    right: 0;
    position: absolute;
}

.slideBanner > img {
    width: 971px;
    height: 100%;
    float: right;
}

.slideNext , .slidePrevious {
    color: #FFFFFF;
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-indent: -999px;
    top: 0;
    width: 20px;
}

.slideNext {
    background: url("images/sliderNext.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    left: 0;
}

.slidePrevious {
    background: url("images/sliderPrevious.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    right: 0;
}

.boxAlert{
    width: auto;
    height: auto;
    background-color: yellow;
    border: 1px solid red;
    padding: 0 5px;
}

.indexSearch {
	margin: 20px 0 20px 0;
	background-color: #DBD3CD;
	border: 1px solid #E6E8EA;
	border-radius: 10px;
}
.blockHead {
    background-color: #7A7A7A;
	border-bottom: 1px solid #E6E8EA;
    padding: 8px 5px;
    border-radius: 6px;
}
.blockBody {
    padding: 8px 5px;
	width: 100% ;
	height: 100%;

}
.blockBody > img {
    width: 500px;
    height: 150px;
}
.sections{
    margin: 20px 0 20px 0;
    background-color: #DBD3CD;
    border: 1px solid #E6E8EA;
    border-radius: 10px;
}
.clear {
	clear : both;
}
.left {
	float: left;
}
.right {
	float: right;
}
input    {
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 25px;
	margin: 20px 0 20px 0;

}
.section {
	float: left;
	height: 150px;
	width:150px ;
	margin: 10px 20px 10px 15px;
	background-color: #F6F8FA;
	border: 1px solid #77AADD;
	border-radius: 5px;
	overflow: hidden;
}
.section > a > img {
	width: 146px;
	height: 146px;
}